inputs/thucs/*.gpkg
inputs/TNM_DEM/HRNHDPlusRasters0708/*
inputs/TNM_DEM/NHDPLUS_H_0708_HU4_GDB/*
inputs/TNM_DEM/*.zip
inputs/TNM_DEM/*.7z
inputs/TNM_DEM/*.tif
inputs/soil/gSSURGO/*
inputs/soil/gNATSGO/*
inputs/management/*.tif
outputs/topagnps/*
outputs/soil_data_market/shapefile/*
outputs/soil_data_market/soil/*
aiohttp_cache.sqlite
*/__pycache__/*
nohup.out
*.pyc
.venv/*
.vscode
db_credentials.json
inputs/soil/soil_data_US_with_mukey.csv
.pdm-python
build
tmp/
outputs/soil_data_market/db_population/thuc_cells_no_soil.json
