GDAL @ https://download.lfd.uci.edu/pythonlibs/archived/GDAL-3.4.3-cp311-cp311-win_amd64.whl
affine
aiodns
aiohttp
aiohttp-client-cache
aioredis
aiosignal
aiosqlite
altair
appdirs
asttokens
async-retriever
async-timeout
attrs
backcall
backports.functools-lru-cache
branca
brotlipy
cattrs
cython
cchardet
certifi
cffi
cftime
charset-normalizer
click
click-plugins
cligj
cloudpickle
colorama
cryptography
cycler
cytoolz
dask
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
executing
fastjsonschema
Fiona
folium
fonttools
frozenlist
fsspec
geopandas
idna
importlib-metadata
importlib-resources
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter_core
kiwisolver
locket
lxml
mapclassify
MarkupSafe
matplotlib
matplotlib-inline
multidict
munch
munkres
nbformat
nest-asyncio
netCDF4
networkx
numpy
OWSLib
packaging
pandas
parso
partd
patsy
pickleshare
Pillow
plotly
plotly-express
prompt-toolkit
psutil
pure-eval
py3dep
pycares
pycparser
pydantic
pygeoogc
pygeos
pygeoutils
Pygments
pyOpenSSL
pyparsing
pyproj
pyrsistent
PySocks
python-dateutil
python-forge
pytz
PyYAML
pyzmq
rasterio
rasterstats
requests
requests-cache
rioxarray
Rtree
scipy
setuptools
Shapely
simplejson
six
snuggs
stack-data
statsmodels
tenacity
threadpoolctl
toolz
tornado
traitlets
typing_extensions
ujson
unicodedata2
url-normalize
urllib3
wcwidth
wheel
win-inet-pton
xarray
xyzservices
yarl
zipp
