affine==2.4.0
aiodns==3.0.0
aiohttp==3.8.4
aiohttp-client-cache==0.8.1
aioredis==2.0.1
aiosignal==1.3.1
aiosqlite==0.18.0
altair==4.2.2
appdirs==1.4.4
asttokens==2.2.1
async-retriever==0.14.0
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
branca==0.6.0
Brotli==1.0.9
brotlipy==0.7.0
cattrs==22.2.0
cchardet==2.1.7
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==3.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.3
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
Cython==0.29.33
cytoolz==0.12.1
dask==2023.3.2
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
exceptiongroup==1.1.1
executing==1.2.0
fastjsonschema==2.16.3
Fiona==1.8.22
folium==0.14.0
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.3.0
GDAL @ https://download.lfd.uci.edu/pythonlibs/archived/GDAL-3.4.3-cp311-cp311-win_amd64.whl
geopandas==0.12.2
greenlet==2.0.2
idna==3.4
importlib-metadata==6.1.0
importlib-resources==5.12.0
ipykernel==6.22.0
ipython==8.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.1.0
jupyter_core==5.3.0
kiwisolver==1.4.4
locket==1.0.0
lxml==4.9.2
mapclassify==2.5.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
multidict==6.0.4
munch==2.5.0
munkres==1.1.4
nbformat==5.8.0
nest-asyncio==1.5.6
netCDF4==1.6.3
networkx==3.0
numpy==1.24.2
OWSLib==0.28.1
packaging==23.0
pandas==1.5.3
parso==0.8.3
partd==1.3.0
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.2.0
plotly==5.14.0
plotly-express==0.4.1
prompt-toolkit==3.0.38
psutil==5.9.4
psycopg2==2.9.5
pure-eval==0.2.2
py3dep==0.14.0
pycares==4.3.0
pycparser==2.21
pydantic==1.10.7
pygeoogc==0.14.0
pygeoutils==0.14.0
Pygments==2.14.0
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyproj==3.5.0
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-forge==18.6.0
pytz==2023.3
pywin32==306
PyYAML==6.0
pyzmq==25.0.2
rasterio==1.3.6
rasterstats==0.18.0
requests==2.28.2
requests-cache==1.0.1
rioxarray==0.14.0
Rtree==1.0.1
scikit-learn==1.2.2
scipy==1.10.1
shapely==2.0.1
simplejson==3.18.4
six==1.16.0
snuggs==1.4.7
SQLAlchemy==2.0.7
stack-data==0.6.2
statsmodels==0.13.5
tenacity==8.2.2
threadpoolctl==3.1.0
toolz==0.12.0
tornado==6.2
traitlets==5.9.0
typing_extensions==4.5.0
ujson==5.7.0
unicodedata2==15.0.0
url-normalize==1.4.3
urllib3==1.26.15
wcwidth==0.2.6
win-inet-pton==1.1.0
xarray==2023.3.0
xyzservices==2023.2.0
yarl==1.8.2
zipp==3.15.0
